DATABASE_URL=
AUTH_SECRET=
NEXTAUTH_URL=
WEB3_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
CONTRACT_ADDRESS=
EMAIL_SERVER=
EMAIL_USER=
EMAIL_PASSWORD=
DEPLOYER_PRIVATE_KEY=
